
form {
  display: flex;
  flex-direction: column;
  align-content: center;
  border: 1px solid gray;
  font-size: 13px;
  padding: 50px;
  margin: 30px;
  border-radius: 30%;
<<<<<<< HEAD
=======
  

 
>>>>>>> ed13b52728f9e64cdd45ef2cfab055490831264b
}

label, input {
margin-bottom: 8px;
<<<<<<< HEAD
=======

>>>>>>> ed13b52728f9e64cdd45ef2cfab055490831264b
}

body {
  margin: 0;
  padding: 0;
<<<<<<< HEAD
  background-image: url(IMAGE/eiffel.jpg);
=======
  background-image: url(eiffel.jpg);
>>>>>>> ed13b52728f9e64cdd45ef2cfab055490831264b
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  text-align: center;
<<<<<<< HEAD
  font-family: 'Kaushan Script', cursive;
  font-size: 35px;
}

.bouton {
  margin-top: 10px;
  color: red;
  text-align: center;
}

button {
  background-color: gray;
}



=======
  
}

>>>>>>> ed13b52728f9e64cdd45ef2cfab055490831264b
