
form {
  display: flex;
  flex-direction: column;
  align-content: center;
  border: 1px solid gray;
  font-size: 13px;
  padding: 50px;
  margin: 30px;
  border-radius: 30%;
  

 
}

label, input {
margin-bottom: 8px;

}

body {
  margin: 0;
  padding: 0;
  background-image: url(eiffel.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  text-align: center;
  font-family: 'Kaushan Script', cursive;
}



