/* ************* CSS HEADER ************************ */

Header {
  background: rgb(37, 66, 231);
}

.navigation {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 20px;
}

h1, .navigation, .formulaire {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation li {
  padding: 20px;

}

h1, .card-header {
  font-family: 'Kaushan Script', cursive;
}

h1, .navigation li{
  color: white;
}

.navigation li:hover {
  color: red;
  cursor: grab;
}

/* ************* MEDIA QUERIES ************************ */

@media screen and (min-width:576px){

  h1 {
    float: left; 
  }
  
  .formulaire {
    float: right;
    max-width: 200px;
  }
  .navigation li {
    text-decoration: underline;
  
  }
}

/* ************* CSS MAIN ************************ */

.image {
  filter: brightness(0,6);
}
.link {
  font-style: italic;
  color: rgb(221, 19, 103);
}
.link:hover {
  color: lightpink;
}
 

.image2 {
  height: 100%;
  width: 180px;
}